@font-face 
  {
      font-family: montreal;
      src: url(./Assets/montreal-light.ttf);
  }
  *
  {
      font-family: montreal !important;
      font-size: 18px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }

  img
  {
    -webkit-user-drag: none;
    -moz-user-drag: none;
  }